In [2]:
import pandas as pd

main_file_path = 'train.csv' # this is the path to the Iowa data that you will use
data = pd.read_csv(main_file_path)


print(data.columns)

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [3]:
data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [4]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
price=data.SalePrice
price.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [6]:
#columns_of_interest = ['GarageYrBlt', 'LotArea']
two_columns_of_data = data[['GarageYrBlt', 'LotArea']]
print(two_columns_of_data)

      GarageYrBlt  LotArea
0          2003.0     8450
1          1976.0     9600
2          2001.0    11250
3          1998.0     9550
4          2000.0    14260
5          1993.0    14115
6          2004.0    10084
7          1973.0    10382
8          1931.0     6120
9          1939.0     7420
10         1965.0    11200
11         2005.0    11924
12         1962.0    12968
13         2006.0    10652
14         1960.0    10920
15         1991.0     6120
16         1970.0    11241
17         1967.0    10791
18         2004.0    13695
19         1958.0     7560
20         2005.0    14215
21         1930.0     7449
22         2002.0     9742
23         1976.0     4224
24         1968.0     8246
25         2007.0    14230
26         2005.0     7200
27         2008.0    11478
28         1957.0    16321
29         1920.0     6324
...           ...      ...
1430       2005.0    21930
1431       1976.0     4928
1432       1928.0    10800
1433       2000.0    10261
1434       1977.0    17400
1435       1962.0     8400
1436       1974.0     9000
1437       2008.0    12444
1438       1957.0     7407
1439       1979.0    11584
1440       1993.0    11526
1441       2004.0     4426
1442       2008.0    11003
1443       1916.0     8854
1444       2004.0     8500
1445       1990.0     8400
1446       1962.0    26142
1447       1995.0    10000
1448       1950.0    11767
1449          NaN     1533
1450          NaN     9000
1451       2008.0     9262
1452       2005.0     3675
1453          NaN    17217
1454       2004.0     7500
1455       1999.0     7917
1456       1978.0    13175
1457       1941.0     9042
1458       1950.0     9717
1459       1965.0     9937

[1460 rows x 2 columns]

In [7]:
two_columns_of_data.describe()

       GarageYrBlt        LotArea
count  1379.000000    1460.000000
mean   1978.506164   10516.828082
std      24.689725    9981.264932
min    1900.000000    1300.000000
25%    1961.000000    7553.500000
50%    1980.000000    9478.500000
75%    2002.000000   11601.500000
max    2010.000000  215245.000000

In [8]:
y=data['SalePrice']
X=data[['LotArea','YearBuilt','1stFlrSF','2ndFlrSF','FullBath','BedroomAbvGr','TotRmsAbvGrd']]
X_train=X[0:1000]
y_train=y[0:1000]
X_test=X[-10:-1]
y_test=y[-10:-1]

print(X_test)

      LotArea  YearBuilt  1stFlrSF  2ndFlrSF  FullBath  BedroomAbvGr  \
1450     9000       1974       896       896         2             4
1451     9262       2008      1578         0         2             3
1452     3675       2005      1072         0         1             2
1453    17217       2006      1140         0         1             3
1454     7500       2004      1221         0         2             2
1455     7917       1999       953       694         2             3
1456    13175       1978      2073         0         2             3
1457     9042       1941      1188      1152         2             4
1458     9717       1950      1078         0         1             2

      TotRmsAbvGrd
1450             8
1451             7
1452             5
1453             6
1454             6
1455             7
1456             7
1457             9
1458             5

In [9]:
from sklearn.tree import DecisionTreeRegressor

# Define model
melbourne_model = DecisionTreeRegressor()

# Fit model
melbourne_model.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [10]:
print(melbourne_model.predict(X_test))
predicted_home_prices=melbourne_model.predict(X_test)

[190000. 262500. 148000. 159000. 220000. 172400. 243000. 265979. 140000.]

In [11]:
print(y_test)

1450    136000
1451    287090
1452    145000
1453     84500
1454    185000
1455    175000
1456    210000
1457    266500
1458    142125
Name: SalePrice, dtype: int64

In [12]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, predicted_home_prices)

25481.777777777777

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y,random_state = 0)
melbourne_model.fit(X_train, y_train)

val_predictions = melbourne_model.predict(X_train)
print(mean_absolute_error(y_train, val_predictions))

72.78904109589041

In [14]:
#defining function for setting number of maximum leaf nodes
def get_mae(max_leaf_nodes, predictors_train, predictors_val, targ_train, targ_val):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(predictors_train, targ_train)
    preds_val = model.predict(predictors_val)
    mae = mean_absolute_error(targ_val, preds_val)
    return(mae)

In [15]:
for max_leaf_nodes in [5, 40, 100, 800]:
    my_mae = get_mae(max_leaf_nodes, X_train, X_test, y_train, y_test)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  35190
Max leaf nodes: 40  		 Mean Absolute Error:  27570
Max leaf nodes: 100  		 Mean Absolute Error:  28653
Max leaf nodes: 800  		 Mean Absolute Error:  33474